<div class="detail-container" *ngIf="show">
    <h2>{{pokemon.name}}</h2>
    <div>
        <p><span>Id:</span>{{pokemon.id}}</p>
        <p><span>Name:</span>{{pokemon.name}}</p>
        <p><span>HP:</span>{{pokemon.hp}}</p>
        <p><span>Attack:</span>{{pokemon.attack}}</p>
        <p><span>Defend:</span>{{pokemon.defend}}</p>
    </div>
    <div *ngIf="editMode">
        <label>Name: </label>
        <input [{ngModel}]= "pokemon.name" placeholder="Name">
        <label>HP: </label>
        <input [{ngModel}]= "pokemon.hp" placeholder="HP">
        <label>Attack: </label>
        <input [{ngModel}]= "pokemon.attack" placeholder="Attack">
        <label>Defend: </label>
        <input [{ngModel}]= "pokemon.defend" placeholder="Defend">
    </div>
    <button (click)="closeDetails()">Close</button>
</div>